<!DOCTYPE html>
{% load static %}

<html>
    <div class="main-content">
        <div>
            <head id="fixed-header">
                <title>e-commerce</title>

                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

                <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

                <script type="text/javascript">
                    var user = '{{request.user}}'

                    function getToken(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getToken('csrftoken');

                    function getCookie(name) {
                        var cookieArr = document.cookie.split(";");

                        for(var char = 0; char < cookieArr.length; char++) {
                            var cookiePair = cookieArr[char].split("=");
                            if(name == cookiePair[0].trim()) {
                                return decodeURIComponent(cookiePair[1]);
                            }
                        }

                        return null;
                    }
                    var cart = JSON.parse(getCookie('cart'))
                    if (cart == undefined){
                        cart = {}
                        console.log('Cart was created')
                        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" 
                    }

                    console.log('Cart:', cart)
                </script>

            </head>
        </div>
        <div class="page-container">
            <body>
                <nav class="navbar navbar-expand-lg navbar-dark custom-navbar d-flex justify-content-between px-5" id="fixed-header">
                    <div>
                        <a class="navbar-brand" id="text-specify" href="{% url 'store' %}">Loja Virtual</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                        <div class="form-inline my-2 my-lg-0">

                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="btn btn-custom-warning  mx-2">Deslogar</a>
                                <a href="{% url 'historic' %}" class="btn btn-custom-warning ">Histórico</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-custom-warning  mx-2">Login</a>
                                <a href="{% url 'signin' %}" class="btn btn-custom-warning ">Criar Conta</a>
                            {% endif %}

                            {% if cartItems is not None %}
                                <a href="{% url 'cart' %}">
                                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                                </a>
                                <p id="cart-total">{{cartItems}}</p>
                            {% endif %}

                        </div>
                    </div>
                </nav>

                <div class="container">
                    <br> <br> <br> <br>
                    {% block content %}
                    
                    {% endblock content %}
                </div>

                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

                <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
                
            </body>
        </div>
        <br> <br>
        <div class="fixed-footer">  
            <footer class="text-center text-lg-start bg-white text-muted">
                <div class="custom-navbar" id="text-specify">
                    <!-- Section: Social media -->
                    <section class="d-flex justify-content-center justify-content-lg-between">

                        <!-- Right -->
                        <div>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-github"></i>
                        </a>
                        </div>
                    </section>

                    <section class="">
                        <div class="container text-center text-md-start mt-5">
                            <div class="row mt-3">
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4" id="footer-text-specify">
                                        <i class="fas fa-gem me-3 text-secondary"></i>Portfolio Ecommerce
                                    </h6>
                                    <p>
                                        Este e-commerce é fictício e é utilizado como portfólio.
                                        Me chamo Rafael Silva, desenvolvedor deste site e estou a disposição para dúvidas, 
                                        através dos contatos listados ao lado.
                                    </p>
                                </div>

                                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4" id="footer-text-specify">Contatos</h6>
                                    <p><i class="fas fa-home me-3 text-secondary"></i> 
                                        <a 
                                            href="https://www.linkedin.com/in/silvarafaelp/" id="color-link"> 
                                            <img id="footer-icon" src="{% static 'images/linkedin.png' %}">
                                            : Rafael Silva
                                        </a>
                                    </p>
                                    <p>
                                        <i class="fas fa-envelope me-3 text-secondary"></i>
                                        <img id="footer-icon" src="{% static 'images/email.png' %}">
                                        : rafa.ps89@gmail.com
                                    </p>
                                    <p>
                                        <i class="fas fa-phone me-3 text-secondary"></i>
                                        <a 
                                            href="https://api.whatsapp.com/send?phone=5511963091364" id="color-link">
                                            <img id="footer-icon" src="{% static 'images/whatsapp.png' %}">
                                            : +55 (11) 96309-1364
                                        </a>
                                    </p>
                                    <p><i class="fas fa-home me-3 text-secondary"></i> 
                                        <a 
                                            href="https://github.com/ShRafa" id="color-link"> 
                                            <img id="footer-icon" src="{% static 'images/github.png' %}">
                                            : Github
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </footer>
        </div>
    </div>
</html>